@import 'src/styles/variables';
@import 'src/styles/mixins';

.container{
    background-color: $color-black;
    position: sticky;
    .logoContainer{
        .logo{
            height: 3.5rem;
            cursor: pointer;
            position: absolute;
            left: 6.2rem;
            top: .5rem
        }
    }
    .navContainer{
        .navBar{
            display: flex;
            right: 10rem;
        }
    }
}