@import 'src/styles/variables';
@import 'src/styles/mixins';

.navItem{
    padding: 1.5rem 1rem;
    font-size: 1.2rem;
    font-size: medium;
    color: $color-white;
    cursor: pointer;
}

.navItem:hover {
    color: $um-yellow;
}